header {
    
    display: flex;
    justify-content: space-between;
    width: 1600px;
    height: 809px;
    background-image: url("/banner2.png");

}


.banner-heading {
    font-family: 'Work Sans';
    font-size: 65px;
    font-weight: 700;
    text-align: right;
    height: 228px;
    width: 525px;
    margin-left: 845px;
    margin-top: 216px;


}



.banner-txt {
    width: 494px;
    height: 78px;
    margin-left: 876px;
    /*top: 468px;
    */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #444343;
    border: 1px solid red;
}

.banner-btn {
    background-color: #F15B22;
    color: #FFFFFF;
    width: 160px;
    height: 64px;
    margin-left: 1210px;
    top: 578px;
    border-radius: 5px;
    border: none;


}